#search-bar {
  font-size: 12px;
  margin-bottom: 30px;
  border: 1px solid #5199d7;
  border-radius: 30px;
  padding: 8px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
#search {
  font-size: 12px;
  background: none;
  border: 1px solid #5199d7;
  border-radius: 20px;
  margin: 8px;
  padding: 8px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
#search {
  cursor: pointer;
}
#your-location {
  font-size: 14px;
  color: #ea4335;
  border-radius: 17px;
  padding: 10px 15px;
}
button {
  background: white;
  border: solid 1px #5199d7;
  padding: 12px 15px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
button:hover {
  cursor: pointer;
}
h1 {
  margin: 40px 0px;
  font-size: 36px;
  font-weight: normal;
  text-transform: capitalize;
}
#temperature {
  font-size: 36px;
  font-weight: normal;
}
.unit {
  font-size: 13px;
  margin-left: 5px;
  position: relative;
  top: -18px;
}
#celsius,
#fahrenheit {
  color: #5199d7;
  text-decoration: none;
  font-weight: normal;
}
.description {
  text-transform: capitalize;
}
svg {
  margin-top: 10px;
}
ul {
  margin: 40px 0px 0px 0px;
  list-style: none;
  padding: 0px;
}
#wind,
#humidity {
  padding: 5px 0px;
}
