#search-bar {
  margin-bottom: 30px;
  border: 1px solid #5199d7;
  border-radius: 30px;
  padding: 8px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
#search {
  background: none;
  border: 1px solid #5199d7;
  border-radius: 20px;
  margin: 8px;
  padding: 8px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
#search{
  cursor: pointer;
}
