#temperature {
  font-size: 36px;
  font-weight: normal;
}
.unit {
  font-size: 13px;
  position: relative;
  top: -18px;
}
#celsius,
#fahrenheit {
  color: #5199d7;
  text-decoration: none;
  font-weight: normal;
}
#celsius:hover,
#fahrenheit:hover {
  text-decoration: underline;
}
